<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


  <listener>
    <listener-class>by.http.autopark.listener.ConnectionPoolListener</listener-class>

  </listener>
  <listener>
    <listener-class>by.http.autopark.listener.MessageBundleListener</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/RuntimeException.jsp</location>
  </error-page>

<display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.http.autopark.controller.Controller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>Charset Filter</filter-name>
    <filter-class>
        by.http.autopark.filter.CharsetFilter
    </filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>

  </filter>
  <filter-mapping>
    <filter-name> Charset Filter </filter-name>
    <url-pattern>/*</url-pattern>

  </filter-mapping>

</web-app>
